<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
    </div>
    <div class="img bg-wrap text-center py-4" style="background-image: url(/Templates/sidebar-09/images/bg_1.jpg);">
        <div class="user-logo">
            <div class="img" style="background-image: url(/Templates/sidebar-09/images/aboutfoto.jpg");"></div>
            <h3>Ecem Doğdu</h3>
        </div>
    </div>
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="#"><span class="fa fa-home mr-3"></span>Dashboard</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-download mr-3 notif"></span> CV İndir</a>
        </li>
        <li>
            <a href="/Category/CategoryList"><span class="fa fa-book mr-3"></span> Kategoriler</a>
        </li>
        <li>
            <a href="/Project/ProjectList"><span class="fa fa-trophy mr-3"></span> Projelerim</a>
        </li>
        <li>
            <a href="/Testimonial/TestimonialList"><span class="fa fa-gift mr-3"></span> Referanslarım</a>
        </li>
        <li>
            <a href="/About/AboutList"><span class="fa fa-cubes mr-3"></span> Hakkımda</a>
        </li>
        <li>
            <a href="/Service/ServiceList"><span class="fa fa-code mr-3"></span> Hizmetlerim</a>
        </li>
       
        <li>
            <a href="/Contact/ContactList"><span class="fa fa-envelope mr-3"></span>Mesajlarım</a>
        </li>
        
    </ul>

</nav>

